<div class="background">
    <div class="login">
        <h1>Login</h1>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="error">
                {{loginErrorMessages}}
            </div>
            <div class="username field">
                <label for="username">Username</label>
                <input type="text" id="username" formControlName="username">
            </div>
            <div class="password field">
                <label for="password">Password</label>
                <input type="password" id="password" formControlName="password">
            </div>
            <button type="submit" [disabled]="!loginForm.valid">Login</button>
        </form>
    </div>
</div>
