/* You can add global styles to this file, and also import other style files */
@import 'app/core/scss/color.scss';

body, html {
    padding: 0;
    margin: 0;
    font-family: arial;
    background: $background_color;
    height: 100%;
    width: 100%;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}